@font-face { font-family: highDestiny; src: url(../fonts/highDestiny.otf); }
body { margin:0; padding:0; }
#abertura_fundo { position:absolute; width:100%; height:100%; margin:0; padding:0; background-position:center; background-size:auto 100%; background-repeat: no-repeat;  
-webkit-filter: blur(20px);
filter: blur(20px);
display:none;}
#photo_blur { position:absolute; width:100%; height:100%; margin:0; padding:0; }
#abertura_contorno_branco { position:absolute; width:0; height:0; top:0; left:0; bottom:0; right:0; margin:auto; word-wrap:break-word; border:13px solid white; padding:0; }

#pularAbertura { position:absolute; left:3px; top:3px; /*margin-left: 3px; margin-top:3px;*/ display:none; width:35%; text-decoration:none; text-align:center; background-color:#494949; color:yellow; padding:5px; font-family: Tahoma; font-size:8pt; }
 
p#escrever { position:relative; top:0.01%; height:60%; text-align:center; color:white; font-family: highDestiny; font-size:60pt; line-height: 60%; }
p#escrever span { font-family: Tahoma; font-size:15pt; }
#areaBtComecar { position:absolute; width:100%; height:14%; background-color:black; bottom:0; opacity: 0; filter: alpha(opacity=0); } 
#lugarBt { position:relative; margin:auto; width:40%; height:45%; top:30%; }
a.btComecar { display:block; color:white; text-decoration:none; font-family:Tahoma; text-align:center; padding-top:7px; padding-bottom:7px; padding-left:20px; padding-right:20px; border:solid 1px white; font-size:10pt; }


#photo_unica { display:none; position:absolute; top:0; left:0; z-index: -1;}
#a_foto { width:30px; height:30px; background-color:red; }
