	body { font-family:Verdana, Geneva, sans-serif; text-align:center; padding:0; margin:0; background-color: #d8d8d8; }
    p {margin: 0; padding:0; font-size:9pt; }
	input {width:90%; padding: 6px; margin-top:10px; font-size:14pt; border-bottom-color:#4d4d4d; border-left:none; border-right:none; border-top:none; background-color:#f7f18c; border-bottom-color:#bc9c12; color:#bc9c12; }
	::placeholder {color: #bc9c12;}
	input:focus{outline: none;}
    button { width:70%; padding: 7px; margin-top:10px; background-color:#3196c2; color:#fff; border:none; font-size:14pt; }
	button:active{background-color:#145d7d;}
	div.app { height:100%; }
	#titulo { width:100%; height: 90px; padding:0; background-color:#fbd323; background-image: url("../img/logo.jpg"); background-repeat:no-repeat; background-position: center; }
	#campos { margin-top: 11px; }
	#formulario { padding:20px; background-color:#f7f18c; }
	#resposta { margin-top: 30px; }
    #rodape { width:100%; }
	#rodape p { padding:10px; }