/* TELA DE LOGIN */
@font-face { font-family: highDestiny; src: url(../fonts/highDestiny.otf); }
body { font-family:Tahoma; text-align:center; padding:0; margin:0; background-color: #000; background-image: url('../img/bgt.jpg'); background-repeat: repeat-x; }

#principal { width: 100%; height: 420px; background-image: url('../img/bg.jpg'); background-repeat: no-repeat; background-size: 100%; background-position:bottom center; }
#logo { float:left; width:100%; margin-top: 35px; }
#inferior { float:left; width:100%;  background-color: #fbd323; min-height:170px; }
#inferior p { font-size:9pt; text-align: center; color:#614e02; }

#formulario { float: left; width:100%; text-align:center; margin-top:25px; }
input { font-family:Tahoma; width:85%; margin-top: 10px; padding:3px 7px; background-color:rgba(255, 255, 255, 0.2); color:#fff; border:2px solid white; font-size:15pt; }
textarea:focus, input:focus, button:focus { outline: none; }
::placeholder {color: #fff;}
button { font-family:Tahoma; width:88%; margin-top: 10px; padding:3px 7px; background-color:#fff; color:#272820; border:2px solid white; font-size:15pt; font-weight:bold; }
button:active { color:#fff; background-color:#272820; }


#resposta { float: left; width:100%; margin-top:15px; }
#resposta p {color:#fbd323; font-size:9pt; text-align:center; }

#rodape { float: left; width:100%; }
#rodape p {color:#fff; font-size:9pt; text-align:center; }
img.logo { margin-top: 10px; }

/* TELA DE ENTRADA */
#fundo_entrada {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
	background-image:url(../img/prolium.png);
	background-size:100%;
	background-repeat:no-repeat;
	background-position:bottom;
}

#logo_entrada {
    position: absolute;
    top: 40%;
    left: 27%;
    width: 45%;
    text-align: center;
	display:none; 
}

#pagina_login { display:none; }

/* PAGINA DOWNLOAD */
#pagina_download {
	display:none;
	position: absolute;
	width: 100%;
	height: 100%;
}
#loader_ext { width:100%; }
#loader { width:90px; margin:auto; margin-top:50%; }
#fazendo_download p { font-family:tahoma; font-size:9pt; color:#5f5f5f; }
/* FIRULAS */
#contorno { position:absolute; top:2.5%; left:2.5%; width:90%; height:90%; border:solid 10px #fbd323; z-index:-1;}
#logo_container { position:absolute; width:100%; height:15px; bottom:50px; }
#logo_download { width:150px; height:45px; margin:auto; }
.retomarDownload { width:20%; margin:2% auto; padding:4px; background-color:#5f5f5f; color:#fff; text-decoration: none; z-index:1; }
#retomarDownload { display:none; }

#fundoBranco {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index:-2;
}






/* PAGINA CAPA */
#pagina_capa {
	display:none;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff;
}

#capa_contorno { 
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
width:77%; height:60%; position:absolute; border: 13px solid /*#4c5996*/; z-index:1;
top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
	margin-top:26px;
}
#conteudo_pagina_capa { position:absolute; width:100%; height:100%; margin:0; /*background-color:#1b2242;*/ background-position:0 0; background-size: 100%; background-repeat: no-repeat;  }
#capa_imagem_fundo_div { position:absolute; z-index:0; }
#foto_capa { position:relative; width:64%; height:64%; background-color:#000; margin:auto;  margin-top:14px; background-position:center; background-size:auto 100%; background-repeat: no-repeat; }
p#capa_nome_curso { font-family: highDestiny; font-size: 48pt; text-align:center; margin:0 auto; color:white; width:77%; line-height: 70%; margin-top:10px; }
p#capa_nome_instituicao { font-family: Tahoma; color:white; text-align:center; margin-top:0; }
ul { display:block; width:240px; margin:auto; margin-top:-5px; padding:0; }
li { display:block; list-style-type:none; float:left; margin:auto; }
.cap_botoes { color:white; text-decoration:none; font-family:Tahoma; padding-top:7px; padding-bottom:7px; padding-left:20px; padding-right:20px; border:solid 1px white; font-size:10pt; display:block; margin-top:0; margin-left:10px; }
