body { font-family:Tahoma; text-align:center; padding:0; margin:0; background-color: #000; background-image: url('../img/bgt.jpg'); background-repeat: repeat-x; }

#principal { width: 100%; height: 420px; background-image: url('../img/bg.jpg'); background-repeat: no-repeat; background-size: 100%; background-position:bottom center; }
#logo { float:left; width:100%; margin-top: 35px; }
#inferior { float:left; width:100%;  background-color: #fbd323; min-height:170px; }
#inferior p { font-size:9pt; text-align: center; color:#614e02; }

#formulario { float: left; width:100%; text-align:center; margin-top:25px; }
input { font-family:Tahoma; width:85%; margin-top: 10px; padding:3px 7px; background-color:rgba(255, 255, 255, 0.2); color:#fff; border:2px solid white; font-size:15pt; }
textarea:focus, input:focus, button:focus { outline: none; }
::placeholder {color: #fff;}
button { font-family:Tahoma; width:88%; margin-top: 10px; padding:3px 7px; background-color:#fff; color:#272820; border:2px solid white; font-size:15pt; font-weight:bold; }

#resposta { float: left; width:100%; margin-top:15px; }
#resposta p {color:#fbd323; font-size:9pt; text-align:center; }

#rodape { float: left; width:100%; }
#rodape p {color:#fff; font-size:9pt; text-align:center; }
img.logo { margin-top: 10px; }